html,body{background-color: #ccc;}
.none{display: none;}
.float-right{float:right;}
.header h1{background: dodgerblue;color: #fff;text-align: center;padding: 15px;margin:0;}

.controlBar{padding:15px;border:solid 3px dodgerblue;border-top: none;}
.controlBar .btn{position: relative;display: inline-block;vertical-align: middle;margin:0 10px;text-align: center;height:30px; font-size: 14px;line-height: 30px; color:#fff;padding:3px 10px; border-radius: 3px;cursor: pointer;}
.controlBar .primary-btn{background-color: dodgerblue;}
.controlBar .primary-btn:hover{background-color:deepskyblue;}
.controlBar .danger-btn{background-color:crimson;}
.controlBar .danger-btn:hover{background-color: lightcoral;}
.controlBar .success-btn{background-color:limegreen;}
.controlBar .success-btn:hover{background-color:lightgreen;}
.controlBar .normal-btn{background-color: #555;}
.controlBar .normal-btn:hover{background-color:slategray;}
.footer .title{color: rgb(54, 54, 54);padding:15px;border-bottom:solid 3px dodgerblue;margin-top: 30px;}